# Конфигурационные файлы
**/config.json
**/config.js

# Директории
**/node_modules/
**/sessions/
**/uploads/
**/cdn/

# Системные файлы
**/.DS_Store

# Логи
**/*.log

# Временные файлы
**/*.tmp

# Параметры
**/params/ 